*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    background: #11101d;
    z-index: 99;
    transition: all 0.5 ease;
}