*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#b37f7f,#89c26d);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
   color: #002765; 
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}
.todo-app h2 img{
   width: 30px; 
   margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;

}
input{
   flex: 1; 
   border: none;
   outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
 
}
button{
    border: none;
    outline: none; 
    padding: 16px 50px;
    background-color: #dc4e0c;
    border-radius: 30pc;
    cursor: pointer;
    font-size: 16px;
}
ul li{
    list-style:none ;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}
ul li::before{
 content: '';
 position: absolute;
 height: 28px;
 width: 28px;
 border-radius:50% ;

}
ul li.chacked{
    color: #555;
    text-decoration: line-through;
}